node_modules
xunit.xml
*.swp
*.log
.idea
modules/ffnews/output
output
static/lib/d3
static/lib/angular
static/lib/lodash
static/lib/angular-bootstrap
static/lib/angular-route
static/lib/angular-moment
static/lib/jquery
static/lib/moment
