<!DOCTYPE html>
<html ng-app="newsweek">
<head lang="en">
	<meta charset="UTF-8">
	<title>Newsweek</title>

	<link rel="stylesheet" href="static/inspinia/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/inspinia/css/style.css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-static-top gray-bg">
	<div class="navbar-header">
		<h1 class="navbar-brand">
			<a href="/" target="_self">
				Newsweek
			</a>
		</h1>
	</div>
	<ul class="nav navbar-top-links navbar-right">
		<li>
			<a href="/logout" target="_self">
				Sign Out
			</a>
		</li>
	</ul>
</nav>

<!-- View Body -->
<div class="container">
	<div ng-view></div>
</div>

<!-- Angular and Modules -->
<script src="static/lib/angular/angular.js"></script>
<script src="static/lib/angular-route/angular-route.js"></script>
<script src="static/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script src="static/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!-- Lodash -->
<script src="static/lib/lodash/dist/lodash.min.js"></script>

<!-- Inspinia Libraries -->
<script src="static/inspinia/js/jquery-1.10.2.js"></script>
<script src="static/inspinia/js/bootstrap.min.js"></script>
<script src="static/inspinia/js/inspinia.js"></script>

<!-- Angular App Init -->
<script src="static/ng/app.js"></script>
<script src="static/ng/dir/chart.js"></script>
<script src="static/ng/fltr/symbol-fltr.js"></script>

<!-- Controllers -->
<script src="static/ng/ctrl/event-ctrl.js"></script>
<script src="static/ng/ctrl/new-trade-ctrl.js"></script>
<script src="static/ng/ctrl/edit-trade-ctrl.js"></script>
<script src="static/ng/ctrl/position-ctrl.js"></script>
<script src="static/ng/ctrl/chart-ctrl.js"></script>

</body>
</html>
