<div class="row  border-bottom white-bg dashboard-header">
	<div class="col-md-6">
		<div class="container-fluid">
			<div class="row">
				<h3>Current Time:</h3>
				<h1 class="clock">
					{{ curTime | date : 'M/dd HH:mm:ss' }}
				</h1>
			</div>
		</div>
		<h3>Next Trade: <small>{{ nextTrade.event.title }}</small></h3>
		<table class="table">
			<tr>
				<td>Symbol: {{ nextTrade.instrument | symbol }}</td>
				<td>Units: {{ nextTrade.units }}</td>
			</tr>
			<tr>
				<td>Price: {{ livePrice }}</td>
				<td>Time: {{ nextTrade.time | date : 'M/dd HH:mm' }}</td>
			</tr>
		</table>
		<h1>Trades</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Event</th>
					<th>Symbol</th>
					<th>Time</th>
					<th>Units</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="trade in trades | orderBy:'time'">
					<td>{{ trade.event.title }}</td>
					<td>{{ trade.instrument | symbol }}</td>
					<td>{{ trade.time | date : 'M/dd HH:mm' }}</td>
					<td>{{ trade.units }}</td>
					<td>
						<button class="btn btn-default" ng-click="editTrade(trade)">
							Edit
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-xs-8">
				<h1>Events</h1>
			</div>
			<div class="col-xs-4">
				<select id="symbols" class="form-control pull-right" ng-model="sym">
					<option value=""></option>
					<option value="EUR">EUR</option>
					<option value="USD">USD</option>
					<option value="JPY">JPY</option>
					<option value="CHF">CHF</option>
					<option value="GBP">GBP</option>
					<option value="CAD">CAD</option>
					<option value="CNY">CNY</option>
					<option value="AUD">AUD</option>
					<option value="NZD">NZD</option>
				</select>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Symbol</th>
					<th>Impact</th>
					<th>Time</th>
					<th>Trading</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="n in latestNews | orderBy:'time' | filter:sym" class="{{ n.color }}">
					<td>{{ n.title }}</td>
					<td>{{ n.country }}</td>
					<td style="color:{{ n.color }}">{{ n.impact }}</td>
					<td>{{ n.time | date : 'M/dd HH:mm' }}</td>
					<td>
						<button class="btn btn-default" ng-click="newTrade(n)" ng-if="!n.trading">
							No
						</button>
						<button class="btn btn-success" ng-click="newTrade(n)" ng-if="n.trading">
							Yes
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
