<div class="modal-header">
	<h3 class="modal-title">Schedule Trade</h3>
	<small>{{ event.title }}</small>
</div>
<div class="modal-body">
	<!-- Trade Form -->
	<form role="form">
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="form-group">
					<label for="instrument">Instrument:</label>
					<select name="instrument" class="form-control" ng-model="trade.instrument">
						<option ng-repeat="sym in symbols | filter:event.country" value="{{sym}}">{{sym}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="units">Units:</label>
					<input type="text" class="form-control" ng-model="trade.units"/>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="submit()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
